#an{
    -fx-background-color: white;
}
#vbox{
    -fx-background-color: white;
}
#sc{
    -fx-background-color: white;
}
#bp{
    -fx-background-color: white;
}
#side
{
    -fx-background-color: linear-gradient(to bottom, #0d1c2b, #595657);;
}

#title{
    -fx-stroke-width: 5;
    -fx-stroke: gray;
}
.tab{
    /*-fx-background-color: #ffffff;*/
}
.tab-pane *.tab-header-background{
    -fx-background-color: transparent;
}